name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Tests
      run: |
        python mysite/manage.py test

  docker:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
    - uses: actions/checkout@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build Docker image
      run: docker build -t hajaraburmeileh/chatbot:${{ github.sha }} -t hajaraburmeileh/chatbot:latest .
    - name: Publish Docker image
      run: docker push hajaraburmeileh/chatbot --all-tags

  azure:
    runs-on: ubuntu-latest
    needs: docker
    env:
      env-file: my-environment-file.env
      CLUSTER_NAME: helloppucluster
      RESOURSE_GROUP: hajarhello
   
    
    steps:

      - uses: actions/checkout@v3
      - uses: azure/login@v1
        name: Azure login
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}

      - uses: azure/use-kubelogin@v1
        name: Set up kubelogin for non-interactive login
        with:
          kubelogin-version: v0.0.25
      - uses: azure/aks-set-context@v3
        name: Get K8s context
        with:
          admin: "false"
          cluster-name: ${{ env.CLUSTER_NAME }}
          resource-group: ${{ env.RESOURSE_GROUP }}
          use-kubelogin: "true"
          
      - uses: Azure/k8s-deploy@v1
        with:
          manifests: |
            kubernetes/deploy.yml
          images: |
            hajaraburmeileh/chatbot:${{ github.sha }}


#hajaraburmeileh/simplecalc:${{ github.sha }}
    
   


